.content {
  position: relative;
  width: 80%;
  height: 42rem;
  padding: 4rem;
  margin: auto;
  margin-top: 10rem;
  background-color: #f3d9fa;
  border-radius: 2rem;
  user-select: none;

  .indicator {
    position: absolute;
    top: -2.2em;
  }

  &__inner {
    position: relative;
    background-color: #fff;
    height: 100%;
    border-radius: 2rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transform-style: preserve-3d;

    &::after {
      content: "";
      position: absolute;
      bottom: -2rem;
      right: -2rem;
      height: 100%;
      width: 80%;
      background-color: #862e9c;
      transform: translateZ(-1px);
      border-radius: 2rem;
    }

    &::before {
      content: "";
      position: absolute;
      left: -2rem;
      top: -2rem;
      height: 40%;
      width: 60%;
      background-color: #862e9c;
      transform: translateZ(-1px);
      border-radius: 2rem;
    }

    .col {
      position: relative;
      border-radius: 2rem;
      height: 100%;
      transition: all 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.8;
      color: #862e9c;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        scale: 0.9;
        cursor: pointer;
        opacity: 1;
      }

      svg {
        opacity: 0.9;
        width: 50%;
      }

      .sub {
        position: absolute;
        top: 80%;
        font-size: 2rem;
        font-weight: bold;
      }
    }

    .col-stat {
      position: relative;
      border-radius: 2rem;
      height: 100%;
      transition: all 0.3s;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      opacity: 0.8;
      color: #862e9c;
      padding: 1rem;

      h1 {
        font-size: 3.2rem;
      }

      h2 {
        font-size: 1.6rem;
      }
    }

    .webcamContainer {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 2rem;

      .camContent {
        transform: scaleX(-1);
        border-radius: 2rem;
        overflow: hidden;
        display: flex;
        align-items: center;

        .webcam {
          height: 28rem;
        }

        img {
          height: 28rem;
        }
      }

      .webcamPanel {
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
        width: 8rem;
        height: 24rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #fff;
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 2rem;

        p {
          position: relative;
          width: 80%;
          aspect-ratio: 1/1;
          background-color: #9c36b5;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            cursor: pointer;
            opacity: 0.9;
          }

          &:nth-child(1) {
            svg {
              width: 60%;
            }
          }

          &:nth-child(3) {
            svg {
              width: 80%;
            }
          }

          i {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            height: 80%;
            border-radius: 100%;
            background-color: #e599f7;
          }
        }
      }

      label {
        position: relative;
        width: 40%;
        aspect-ratio: 1/1;
        transition: all 0.3s;
        border-radius: 2rem;
        padding: 4rem;

        &::after {
          content: "Wybierz Plik";
          position: absolute;
          top: 80%;
          left: 0;

          font-size: 2rem;
          font-weight: bold;
          width: 100%;
          text-align: center;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
          scale: 0.9;
          cursor: pointer;
        }

        input {
          display: none;
        }
      }
    }
  }
}

.quizContainer {
  position: absolute;
  padding: 8rem;
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;

  .elements {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .buttons {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      button {
        font-size: 2rem;
        padding: 1rem 2rem;
        border-radius: 1rem;
        background-color: #862e9c;
        border: none;
        outline: none;
        color: #f3d9fa;
        border: solid 0.2rem #862e9c;

        transition: all 0.1s;

        &:hover {
          cursor: pointer;
          color: #862e9c;
          background-color: #f3d9fa;
        }
      }
    }
  }
}

.resultsContainer {
  position: relative;
  grid-column: span 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 2rem;
  width: 100%;
  height: 100%;

  h2 {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 3rem;
  }

  .columns {
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;
    width: 100%;
    height: 100%;

    .column {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 80%;

      .ind {
        transition: all 1s ease-in-out;
        width: 100%;
      }

      p {
        padding-top: 0.6rem;
        text-align: center;
      }
    }
  }

  .download {
    width: 100%;
    height: 100%;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    .img {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      background-size: cover;
      background-position: center;
    }

    button {
      font-size: 1.6rem;
      padding: 1rem 2rem;
      border-radius: 1rem;
      background-color: #862e9c;
      border: none;
      outline: none;
      color: #f3d9fa;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 800px) {
  .content {
    height: 48rem;
    padding: 1rem;

    &__inner {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;

      .col {
        svg {
          width: 30%;
        }
      }

      .webcamContainer {
        .camContent {
          display: flex;
          justify-content: center;
          height: 100%;

          .webcam {
            height: 100%;
          }
        }

        .webcamPanel {
          position: absolute;
          top: calc(100% - 8rem);
          right: 50%;
          transform: translateX(50%) scaleX(-1);
          width: 24rem;
          height: 8rem;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;

          border-top-left-radius: 2rem;
          border-top-right-radius: 2rem;
          border-bottom-left-radius: 0;

          p {
            width: 20%;
            transform: scaleX(-1);
          }
        }

        label {
          width: 80%;
        }
      }
    }
  }

  .quizContainer {
    padding: 4rem 2rem;

    .elements {
      .buttons {
        flex-direction: column;
        gap: 2rem;
        align-items: center;

        button {
          font-size: 2rem;
          padding: 1rem 2rem;
          border-radius: 1rem;
          width: 80%;

          &:hover {
            cursor: pointer;
            color: #f3d9fa;
            background-color: #862e9c;
          }
        }
      }
    }
  }

  .resultsContainer {
    padding: 2rem;
    grid-row: span 2;

    display: flex;
    flex-direction: column;

    .columns {
      .column {
        width: 20%;

        .ind {
          transition: all 1s ease-in-out;
          width: 100%;
        }

        p {
          padding-top: 0.6rem;
          text-align: center;
        }
      }
    }

    .download {
      width: 100%;
      height: 100%;

      .img {
        display: none;
      }

      button {
        font-size: 1.6rem;
        padding: 1rem 2rem;
        border-radius: 1rem;
        background-color: #862e9c;
        border: none;
        outline: none;
        color: #f3d9fa;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .content {
    &__inner {
      .col {
        svg {
          width: 40%;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .content {
    &__inner {
      .col {
        svg {
          width: 50%;
        }
      }
    }
  }
}
